.cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 30px 50px 20px 0;
}

button {
  font-size: 18px;
  font-family: serif;
}

button:nth-child(odd) {
  background-color: #1DA1F2;
  color: white;
  border: none;
  border-radius: 15px;
}

button:nth-child(even) {
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #0077B5;
  color: white;
  border: none;
  border-radius: 15px;
}

span {
  font-size: 18px;
  font-family: serif;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;  
  padding-right: 10px;
}

li {
  text-align: center;
  width: 48%;
  margin-bottom: -1px;
}

li:nth-child(even) {
  margin-left: -1px;
}
