<form id="form" enctype="multipart/form-data" method="post" onsubmit="return false" 
  class="center form-padding">
    <input type="text" name="artist" placeholder="artist" class="border-rounded padding-10" required />
    <input type="text" name="name" placeholder="name" class="border-rounded padding-10" required />
    <input type="button" name="search" value="Search" class="border-rounded padding-10" />
    <input type="submit" value="Add song" class="border-rounded padding-10" />
    <input type="button" value="Apply" name="edit" class="border-rounded padding-10" />
</form>
